/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
html{
    font-size: calc(100vw / 1920 * 10);
    @media (max-width:1024px) {
        font-size: calc(100vw / 768 * 7.5);
    }
    @media (max-width:769px) {
        font-size: calc(100vw / 500 * 6.6);
    }
    @media (max-width:500px) {
        font-size: calc(100vw / 360 * 7.4);
    }
    @media (max-width:360px) {
        font-size: calc(100vw / 300 * 6.8);
    }
}
$color-btn: #C2AB81;
._margin-rigth20{
    margin-right: 2rem;
}
.container{
    max-width: 172rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 .5rem;
}
.header{
    background: #131313;
    height: 11.5rem;
    display: flex;
    &__hamburger{
        display: none;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 120rem;
    }
    &__nav{
        &__link{
            padding: 1rem 2.1rem;
            text-transform: uppercase;
            color: #FFF;
            font-family: Montserrat;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 2.1rem;
            &:hover{
                color: $color-btn;
                transition: .2s;
                border-bottom: .5rem solid $color-btn;
                width: 2rem;
            }
        }
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__wrap-btn{
        display: flex;
        gap: .4rem;
    }
    &__btn{
        background: $color-btn;
        display: inline-block;
        vertical-align: top;
        padding:0 2rem;
        height: 4.5rem;
        width: 19rem;
        text-decoration: none;
        text-align: center;
        position: relative;
        transform: skew(342deg);
        a{
            color: #FFF;
            font-family: Montserrat;
            font-size: 1.2rem;
            font-weight: 700;
            text-transform: uppercase;
        }
        &:hover {
            opacity:0.9;
        }
        
    }
    &__span{
        height: 4.5rem;
        width: 0.5rem;
        background: #FFF;
        display: block;
        transform: skew(342deg);
    }
    &__actions{
        padding: 1rem;
        border: 1px solid #666;
        transform: skew(342deg);
        &:hover{
            background: #fff;
        }

    }
.logo{
    width: 18.6rem;
}
.phone{
    width: 2rem;
} 
}

